@model SAT.DATA.EF.Models.Course

@{
    ViewData["Title"] = "Delete";
}

<h3 class="alert alert-danger">Are you sure you want to delete @Model.CourseName?</h3>
<div>
    <div class="row">
        <div class="col-md-6 offset-md-2">
            <p class="h3">
                <strong>@Html.DisplayNameFor(model => model.CourseName):</strong>
                @Html.DisplayFor(model => model.CourseName)
            </p>
            <p class="h3">
                <strong>@Html.DisplayNameFor(model => model.CourseDescription):</strong>
                @Html.DisplayFor(model => model.CourseDescription)
            </p>
            <p class="h3">
                <strong>@Html.DisplayNameFor(model => model.CreditHours):</strong>
                @Html.DisplayFor(model => model.CreditHours)
            </p>
            <p class="h3">
                <strong>@Html.DisplayNameFor(model => model.Curriculum):</strong>
                @Html.DisplayFor(model => model.Curriculum)
            </p>
            <p class="h3">
                <strong>@Html.DisplayNameFor(model => model.Notes):</strong>
                @Html.DisplayFor(model => model.Notes)
            </p>
            <p class="h3">
                <strong>@Html.DisplayNameFor(model => model.IsActive):</strong>
                @Html.DisplayFor(model => model.IsActive)
            </p>
            <form asp-action="Delete">
                <input type="hidden" asp-for="CourseId" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        </div>
    </div>

</div>
