@model IEnumerable<SAT.DATA.EF.Models.ScheduledClass>

@{
    ViewData["Title"] = "Index";
}

<!-- Blank Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Scheduled Classes</h6>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">@Html.DisplayNameFor(model => model.Course.CourseName)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.StartDate)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.EndDate)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.InstructorName)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.Location)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.Scsid)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <th scope="row">@Html.DisplayFor(modelItem => item.Course.CourseName)</th>
                                <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                                <td>@Html.DisplayFor(modelItem => item.InstructorName)</td>
                                <td>@Html.DisplayFor(modelItem => item.Location)</td>
                                <td>@Html.DisplayFor(modelItem => item.Scsid)</td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Blank End -->
