@model SAT.DATA.EF.Models.Enrollment

@{
    ViewData["Title"] = "Delete";
}

<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Remove @Html.DisplayFor(model => model.Student.FirstName)'s Enrollment?</h3>
                </div>
                <div>
                    <p class="h3">
                        @Html.DisplayNameFor(model => model.EnrollmentDate):
                        @Html.DisplayFor(model => model.EnrollmentDate)
                    </p>
                    <p class="h3">
                        @Html.DisplayNameFor(model => model.ScheduledClass.InstructorName):
                        @Html.DisplayFor(model => model.ScheduledClass.InstructorName)
                    </p>
                    <p class="h3">
                        @Html.DisplayNameFor(model => model.Student):
                        @Html.DisplayFor(model => model.Student.FirstName) @Html.DisplayFor(model => model.Student.LastName)
                    </p>
                </div>
                <form asp-action="Delete">

                    <div class="form-floating my-3">
                        <div class="row">
                            <input type="hidden" asp-for="StudentId" />
                            <div class="col-md-4 offset-md-3"><input type="submit" value="Delete" class="btn btn-danger" /></div>
                            <div class="col-md-4"><a asp-action="Index" class="btn btn-secondary">Cancel</a></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>