@model IEnumerable<SAT.DATA.EF.Models.Enrollment>

@{
    ViewData["Title"] = "Index";
}

<!-- Content Start -->
<div class="content">
    <!-- Sale & Revenue Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-6 col-xl-3">
                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-line fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">Total Students Enrolled</p>
                        <h6 class="mb-0">5</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sale & Revenue End -->

    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Enrollments</h6>
                        <a asp-action="Create" class="btn btn-link pl-4">Enroll New Student</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-white">
                                    <th scope="col">@Html.DisplayNameFor(model => model.Student)</th>
                                    <th scope="col">@Html.DisplayNameFor(model => model.EnrollmentDate)</th>
                                    <th scope="col">@Html.DisplayNameFor(model => model.ScheduledClass.Course.CourseName)</th>
                                    <th scope="col">@Html.DisplayNameFor(model => model.ScheduledClass.InstructorName)</th>
                                    <th scope="col">@Html.DisplayNameFor(model => model.ScheduledClass.StartDate)</th>
                                    <th scope="col">@Html.DisplayNameFor(model => model.ScheduledClass.EndDate)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Student.FirstName) @Html.DisplayFor(modelItem => item.Student.LastName) </td>
                                        <td>@Html.DisplayFor(modelItem => item.EnrollmentDate)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ScheduledClass.Course.CourseName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ScheduledClass.InstructorName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ScheduledClass.StartDate)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ScheduledClass.EndDate)</td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.EnrollmentId">Edit</a> |
                                            <a asp-action="Delete" asp-route-id="@item.EnrollmentId">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <br />
                        <br />

                    </div>
                </div>
            </div>
            <!-- Recent Sales End -->
        </div>
    </div>

    @* <div class="col-sm-12 col-md-6 col-xl-4">
        <div class="h-100 bg-secondary rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Calendar</h6>
                <a href="">Show All</a>
            </div>
            <div id="calendar"></div>
        </div>
    </div> *@
</div>

